body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(129, 129, 129);
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
header {
    margin: 0; /* Remove default margin */
    padding: 10px 0; /* Reduce padding for less whitespace */
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(129, 129, 129);
}
.header-content {
    display: flex;
    /*align-items: center; */
    gap: 15px; /* spacing between logo and title */
}

.logo {
    height: 50px; /* adjust as needed */
    width: auto;
}
nav {
    display: flex;
    position: sticky; /* Make the nav bar sticky */
    top: 0; /* Stick to the top of the viewport */
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
    display: flex; /* Arrange list items horizontally */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px; /* Add horizontal spacing between items */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: bakcground-color 0.3s ease-in-out;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #ff6600;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.inventory-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.invetory-item p {
    margin: 0 0 10px;
}

.inventory-item input {
    margin-right: 10px;
    padding: 5px;
    width: 100px;
}

.inventory-item button {
    padding: 5px 10px;
    background-color: #ffaa00;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.inventory-item button:hover {
    background-color: #ff6600;
}

button {
    padding: 10px 20px;
    background-color: #4c4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff6600;
    transform: scale(1.05);
}

button:active {
    background-color: #cc5200;
    transform: scale(0.95);
}